* {
  outline: none;
}

input:focus,
button:focus,
textarea:focus {
  outline: 2px solid #4caf50;
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  background-color: #79b791;
  height: 4.5rem;
  width: 100%;
}

.header {
  color: #f1f1f1;
  text-align: center;
}

.main{
  position: relative;
}

.container {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  width: 50%;
  /* height: calc(100vh - 10rem); */
}

.btn-primary {
  background-color: #79b791 !important;
  border-color: #79b791 !important;
  color: #242424;
}
.nav-item .active {
  /* color: #242424 !important; */
}

.form-tab .active {
  background-color: #79b791 !important;
}

.nav-link {
  color: #242424 !important;
}
.form-check-input:checked {
  background-color: #79b791 !important;
}

.table {
  width: 100%;
}

.radio {
  padding-left: 20px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link:active {
  outline: none !important;
  box-shadow: none !important;
}
