body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container--mealPlanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.planner-header {
  color: white;
  text-align: center;
  padding: 2rem 0;
}

.btn-outline-primary {
  border-color: #79b791;
  color: #1b2f33;
}

.btn:focus {
  background-color: #79b791 !important;
  border-color: #79b791 !important;
}

.btn.active {
  background-color: #79b791;
  border-color: #79b791;
  color: #1b2f33;
}

.btn-outline-primary:hover {
  background-color: #79b791;
  border-color: #79b791;
  color: white;
}

.btn-warning {
  background-color: #79b791;
  border-color: #79b791;
}

.btn-warning:active {
  background-color: #79b791 !important;
  border-color: #79b791 !important;
  color: #1b2f33;
}

.btn-warning:hover {
  background-color: #79b791 !important;
  border-color: #79b791 !important;
  color: white;
}

.diet-img {
  width: 2rem;
  height: 2rem;
}

.form-check-input:checked {
  background-color: #79b791 !important;
}

.meals {
  display: flex;
  justify-content: space-between;
}

#plan {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 50%;
}

#plan:has(.accordion) {
  width: 50%;
}

.accordion {
  width: 100%;
}

@media (min-width: 1281px) and (max-width: 1600px) {
  .container--mealPlanner {
    width: auto;
  }

  #plan {
    width: 80%;
    margin-top: 4rem;
    text-align: center;
    flex-direction: row;
  }

  .card-body {
    justify-content: space-around;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
  }
}
