body {
  height: 100vh;
  background-color: #1b2f33;
}

body.auth-checking {
  visibility: hidden;
}

.navbar {
  background-color: #79b791;
  height: 4.5rem;
  width: 100%;
}

.nav__logo {
  height: 4rem;
  width: 4rem;
}

.nav-tabs .nav-link {
  font-weight: bold;
  color: white;
}

.nav-tabs .nav-link.active {
  background-color: #79b791;
  color: white;
  border-color: #79b791;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 4px;
  padding: 10px;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background-color: #79b791;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #79b791;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__logo {
  margin-top: 3rem;
  width: 50%;
  height: 50%;
}

.container--login {
  width: 90%;
}

@media screen and (min-width: 701px) and (max-width: 1280px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 1281px) and (max-width: 1600px) {
  .main__logo {
    margin-top: 3rem;
    width: 20%;
    height: 20%;
  }

  .container--login {
    width: 30%;
  }

  .nav__logo--lg {
    height: 6rem;
    width: 6rem;
  }
}
