body {
  height: calc(100vh + 4.5rem);
  background-color: #1B2F33;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #79b791;
  height: 4.5rem;
  width: 100%;
}

.nav__logo {
  height: 4rem;
  width: 4rem;
}
